!!! 5
html(lang="en")
	head
		title CMS
		link(href="/css/main.css")(rel="stylesheet")
		link(href="/css/window.css")(rel="stylesheet")
	body
		div#body!= body

	script(src="/javascript/mootools.core.js")