!!! 5
html(lang="en")
	head
		title CMS
		link(href="/css/main.css")(rel="stylesheet")
		link(href="/css/window.css")(rel="stylesheet")
		link(href="/css/site.css")(rel="stylesheet")
	body
	
	#cms
		#cms-header
			h1 CMS
			input(type="search")
			ul
				li 
					a(href="/site") Site
				li
					a(href="/stories") Stories
				li
					a(href="/library") Library
				li
					a(href="/settings") Settings
		#cms-footer
			p Logged in as #{username}
	
		div#cms-body!= body

	script(src="/javascript/mootools.core.js")
	script(src="/javascript/application.js")