.tabbed.cms-window
	div
		header
			h2 Settings
		ul.tabs
			li.current Site Settings
			li Google Settings
		article.settings.current
			form
				fieldset
					div
						label form field
							input(type="text")
			
		article.settings
			p This is tab 2
	
.small.tabbed.cms-window
	div
		header
			h2 Options
		ul.tabs
			li.current Tab 1
			li Tab 2
		article.settings.current
			p This is tab 1
		article.settings
			p This is tab 2