.cms-window
	div
		header
			h2 Site
		article
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
		footer
	
.small.tabbed.cms-window
	div
		header
			h2 Options
		ul
			li.current Tab 1
			li Tab 2
		article.current
			p This is tab 1
		article
			p This is tab 2
		footer