.cms-window
	div
		header
			h2 Site
		article
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
		footer
	
.small.tabbed.cms-window
	div
		header
		ul
			li.current Tab 1
			li Tab 2
		article
			h2 site
		footer