!!! 5
html(lang="en")
	head
		title CMS
		link(href="/css/main.css")(rel="stylesheet")
		link(href="/css/window.css")(rel="stylesheet")
	body
		#cms
			#cms-header
				h1 CMS
				input(type="search")
				ul
					li Site
					li Stories
					li Library
					li Users
					li Settings
			#cms-footer
				a(href="#") Log Off
				
			.cms-window
				div
					header
						h2 Site
					article
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
						br
					footer
				
			.small.tabbed.cms-window
				div
					header
					ul
						li.current Tab 1
						li Tab 2
					article
						h2 site
					footer
	
	script(src="/javascript/mootools.core.js")