.tabbed.fullwidth.cms-window
	div
		header
			h2 Articles
		ul.tabs
			li.current Live
			li Draft
		article.articles.current
			ul.list
				li Article 1
				li Article 2
				li Article 3
				li Article 4
				li Article 5
		article.articles
			ul.list
				li Draft article 1
				li Draft article 2
				li Draft article 3
				li Draft article 4
				li Draft article 5
