.tabbed.fullwidth.cms-window
	div
		header
			h2 Articles
		ul.tabs
			li.current Live
			li Draft
		article.articles.current
			ul.list
				- each article in live
					li #{article.title}
		article.articles
			ul.list
				- each article in draft
					li #{article.title}
