.tabbed.fullwidth.cms-window
	div
		header
			h2 Create an Article
		ul.tabs
			li.current Content
			li Options
		article.articles.create-article.current
			form(method: 'post')
				fieldset
					div.toolbar
						button.bold.button(type: 'button') Bold
					textarea.texteditor
		article.articles.create-article
			p options
