.tabbed.fullwidth.cms-window
	div
		form(method: 'post', 'action': '/cms/articles/update/' + article._id)
			header
				h2 Update '#{article.title}'
			ul.functions
				li
					button(type="submit") Save
				li
					a(href="/cms/articles") Cancel
			ul.tabs
				li.current Content
				li Options
			article.articles.create-article.current
				form(method: 'post')
					fieldset
						div
							input(type: 'text', name: 'title', value: article.title)
						div
							div.toolbar
								button.heading1.button(type: 'button') Heading 1
								button.heading2.button(type: 'button') Heading 2
								button.heading3.button(type: 'button') Heading 3
								button.heading4.button(type: 'button') Heading 4
								button.heading5.button(type: 'button') Heading 5
								button.heading6.button(type: 'button') Heading 6
								button.paragraph.button(type: 'button') Paragraph
								<hr />
								button.bold.button(type: 'button') Bold
								button.italic.button(type: 'button') Italic
								<hr />
								button.unorderedlist.button(type: 'button') Unordered List
								button.orderedlist.button(type: 'button') Ordered List
								<hr />
								button.undo.button(type: 'button') Undo
								button.redo.button(type: 'button') Redo
								button.link.button(type: 'button') Link
								<hr />
								button.viewsource.button(type: 'button') View Source
							textarea.texteditor(name: 'body')
								#{article.body}
						div
							label Draft
								input(type: 'radio', name: 'state', value: 0, checked: (article.state == 0))
							label Live
								input(type: 'radio', name: 'state', value: 1, checked: (article.state == 1))
			article.articles.create-article
				p options
