extends ../backend-layout

block content

    div.container
        div.row

            div.span9
                h1 Modules
                
                div.well
                    ul.nav.nav-list
                        li.nav-header Modules
                        li
                            a(href="#") Text Content
                            a(href="#") Image
                            a(href="#") Gallery

            div.span3
                div.well
                    