div.modal-header
    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
    h3 Create a new Page
div.modal-body
    form.form-horizontal#create-page(action="#")
        fieldset
            div.control-group
                label.control-label Section
                div.controls
                    select
            div.control-group
                label.control-label Page Name 
                div.controls
                    input(type="text")
            div.control-group
                div.controls
                    button.btn.btn-primary(type="submit") Create Page