extends ../backend-layout

block content

    div.container
        div.row

            div.span9#pages
                div.page-header
                    h1 Create a new Grid

                div#new-grid-content

                    div.row-fluid
                        div.span9 _
                        div.span3 _
                    div.row-fluid
                        div.span3 _
                        div.span9 _
 
            div.span3
                div.well

    div#modal.modal.hide
        div.modal-body

block templates