extends ../backend-layout

block content

    div.container
        div.row

            div.span9#pages
                div.page-header
                    h1 Pages

                div#pages-content
 
            div.span3
                div.well
                    ul
                        li
                            a#add-new-section(href="/cms/content/new-section") Add a new Section
                        li
                            a#add-new-page(href="/cms/content/new-page") Add a new Page

    div#modal.modal.hide
        div.modal-body

block scripts
    script(src="/backend/js/app/pages.js")

block templates

    script#template-pages(type="text/template")
        ul.nav.nav-tabs
            {{#each this}}
            li
                a(href="#section-{{this._id}}", data-toggle="tab") {{this.title}}
            {{/each}}

        div.tab-content
            {{#each this}}
            div.tab-pane(id="section-\{{this._id}}")
                ul
                    {{#each pages}}
                    li {{this.title}}
                    {{/each}}
            {{/each}}