extends ../backend-layout

block content

    div.container
        div.row

            div.span9
                h1 Pages

                ul.nav.nav-tabs
                    li.active
                        a(href="#tab-main-navigation", data-toggle="tab") Main Navigation
                    li
                        a(href="#tab-footer-navigation", data-toggle="tab") Footer Navigation

                div.tab-content
                    div.tab-pane.active#tab-main-navigation
                        | Hi!
                    div.tab-pane#tab-footer-navigation
                        | Hidden

            div.span3
                div.well
                    ul
                        li
                            a(href="#") Add a new section
                        li
                            a(href="#") Add a new page