.cms-window
	div
		header
			h2 Site
		article
			ul
				li Page 1
					ul
						li SubPage 1
						li SubPage 2
				li Page 2
				li Page 3
	
.small.tabbed.cms-window
	div
		header
			h2 Options
		ul.tabs
			li.current Tab 1
			li Tab 2
		article.current
			p This is tab 1
		article
			p This is tab 2