.fullwidth.cms-window
	div
		header
			h2 Site
		ul.functions
			li
				a(href: '/cms/site/create') Create New Page
		article.site
			ul.list
				- each page in pages
					- if (!page.parent)
						li #{page.name}
							a(href="/cms/site/edit/" + page._id) edit
							ul
								- each child in pages
									-if (child.parent == page.name)
										li #{child.name}
											a(href="/cms/site/edit/" + child._id) edit