.fullwidth.cms-window
	div
		header
			h2 Site
		article.site
			ul.list
				- each page in pages
					- if (!page.parent)
						li #{page.name}
							ul
								- each child in pages
									-if (child.parent == page.name)
										li #{child.name}