.fullwidth.cms-window
	div
		header
			h2 Site
		article.site
			ul.list
				li Main Navigation
					ul
						li Home
						li Docs
						li Demos
						li Blog
						li About
				li Footer Navigation
					ul
						li About
						li Contact Us
						li Foo
						li Whatever