!!! 5
html(lang="en")

    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width", initial-scale="1.0")
        title edamame
        link(rel="stylesheet", href="/backend/css/bootstrap.min.css")
        link(rel="stylesheet", href="/backend/css/bootstrap.responsive.min.css")
        link(rel="stylesheet", href="/backend/css/backend.css")

    body

        div.navbar.navbar-inverse.navbar-fixed-top
            div.navbar-inner
                div.container
                    a.brand(href="/cms") edamame
                    
                    ul.nav
                        li.dropdown
                            a.dropdown-toggle(data-toggle="dropdown", href="#") Content 
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href="/cms/content/pages") Pages
                                    a(href="/cms/content/grids") Grids
                                    a(href="/cms/content/modules") Modules
                        li.dropdown
                            a.dropdown-toggle(data-toggle="dropdown", href="#") Library 
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href="/cms/library/images") Images
                                    a(href="/cms/library/files") Files
                                    a(href="/cms/library/videos") Videos
                        li.dropdown
                            a.dropdown-toggle(data-toggle="dropdown", href="#") Settings 
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href="/cms/settings/plugins") Plugins
                        
                    ul.nav.pull-right
                        li.dropdown
                            a.dropdown-toggle(data-toggle="dropdown", href="#") Joe Bloggs 
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href="/cms/account/my-account") My Account
                                    a(href="/cms/log-out") Log Out

                    form.navbar-search.pull-right
                        input.search-query(type="text", placeholder="Search")

        block content
   
    include backend-scripts
    block scripts
        script(src="/backend/js/app/generic.js")


    block templates