extends ../backend-layout

block content

    div.container
        div.row

            div.span9
                div.page-header
                    h1 Files
                div#files-library
 
            div.span3
                div.well
                    

block scripts
    script(src="/backend/js/app/files.js")


block templates
    script#template-images-list-item(type="text/template")
        div(class="media {{extension}}")
            a.close(href="#") &times;
            a.pull-left(href="#")
                img.media-object(src="{{src}}")
            div.media-body
                h4.media-heading Test
                p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.