extends ../backend-layout

block content

    div.container
        div.row

            div.span9
                h1 Videos
                
            div.span3
                div.well
                    